<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: linear-gradient(135deg, #1e3c72, #2a5298); color:white;">

<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold">🚨 Fraud Detection System</h1>
    <p class="lead">AI Powered Background Verification Platform</p>

    <div class="mt-5">
        <a href="/login" class="btn btn-warning btn-lg m-3 px-5">Admin Login</a>
        <a href="/check" class="btn btn-success btn-lg m-3 px-5">Check Person</a>
        
    </div>
</div>

</body>
</html>